.navbar {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 13%, rgba(0,0,0,0.6125043767507004) 100%);
    overflow: hidden;
  }
  

.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 15px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;

  transition: all 0.3s;
  cursor: pointer;
}

.navbar a:hover {
    transform: scale(1.1)
}

.navbar a.split {
  float: left;
  color: white;
  cursor: pointer;
}

.navbar a.split:hover {
    transform: scale(1.0005)
}