.header {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5564819677871149) 100%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    padding: 1.5vh;
    overflow: hidden;
}



.logo {
    transition: all 0.3s;
    cursor: pointer;
}


.logo:hover {
    transform: scale(1.07);
}